.player {
    max-width: 46rem;
    border: 5px inset rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0;
    padding-bottom: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
}

.controls {
    display: flex;
    position: relative;
    padding: 2px;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
}

.controls>* {
    flex: 1;
}

.controls > h2 {
    font-size: 2em;
    color: rgba(199, 199, 199, 0.822);
}

.controls > a {
    text-decoration: none;
    box-sizing: border-box;
    padding: 15px 15px;
    float: left;
    color: whitesmoke;
}

.controls > a:hover {
    background-color: rgb(192, 104, 21);
    cursor: pointer;
    border-radius: 1em;
}

.progress {
    flex: 10;
    position: relative;
    margin: 1px;
    display: flex;
    flex-basis: 100%;
    height: 2rem;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.progress > .bar {
    /* position: absolute; */
    width: 100%;
    border-radius: .2rem;
    height: 1.9rem;
    background: black;
}

.progress > .bar > div {
    background-color: white;
    height: 1.8rem;
    margin: 2px;
}

