.togglePlayer {
    grid-column: 3;
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    border: #6d6d6d 4px outset;
    opacity: .1;
    transition: .5s;
}
.togglePlayer:hover {
    cursor: pointer;
    opacity: .7;
    transition: .6s;
    background-color: rgba(0, 0, 0, 0.432);
}

.tapeDeck {
    height: 72vh;
    width: 62vw;
    margin: 1vh 2vw 0 2vw;
    z-index: 1;
    border: rgba(0, 0, 0, 0.685) .5em solid;
    border-radius: 1rem;
    background-image: url("./assets/steel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1.3);
}

.mainDown {
    grid-area: main;
    height: 72vh;
    width: 62vw;
    margin: 1vh 2vw 0 2vw;
    border: rgba(0, 0, 0, 0.685) .5em solid;
    border-radius: 1rem;
    background-image: url("./assets/steel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(72vh);
    transition: 1.5s cubic-bezier(0.175, .3, 0.50, 1.275);
    z-index: -1;
}

.container {
    display: grid;
    grid-gap: 1px;
    max-width: 70rem;
    margin: auto auto;
    justify-content: space-evenly;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.leftCircle {
    width: 23rem;
    height: 23rem;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url("./assets/tape.svg");
    grid-column: 1;
    margin: 5vh 3vw 0 3vw;
}

.leftCircleRotate {
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -ms-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite;
}


.rightCircle {
    width: 23rem;
    height: 23rem;
    border: 1px solid black;
    background-image: url("./assets/tape.svg");
    border-radius: 50%;
    grid-column: 3;
    margin: 5vh 3vw 0 3vw;
}

.rightCircleRotate {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}


.transport {
    width: 30vw;
    height: 3.5rem;
    margin: 6vh auto;
    border-radius: 1em;
    grid-column: 1 / 4;
    text-align: center;
}

/* .player {
    max-width: 46rem;
    border: 5px inset rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
    font-size: 0;
    z-index: 1;
} */

/* .player_button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px;

} */

/* .player_button:focus {
    border-color: #520d0d93;
} */

/* .player_slider {
    width: .8rem;
    height: 2rem;
} */

/* .player_controls {
    display: flex;
    position: relative;
    padding: 2px;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
} */

/* .player_controls>* {
    flex: 1;
} */

/* .progress {
    flex: 10;
    position: relative;
    margin: 1px;
    display: flex;
    flex-basis: 100%;
    height: 1rem;
    background: rgba(0, 0, 0, 0.5);
    cursor: ew-resize;
} */

/* .progress_filled {
    background-color: #458ca8;
    flex: 0;
    flex-basis: 0%;

} */

/* input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
} */

/* input[type=range]:focus {
    outline: none;
} */
/* 
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0, ), 0 0 1px rgba(13, 13, 13, 0);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
} */

/* input[type=range]::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #a55252;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
} */

/* input[type=range]:focus::-webkit-slider-runnable-track {
    background: #b1c3ce;
} */

/* input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
} */

/* input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #34759b;
    cursor: pointer;
} */
